.card{
    position: relative;
    padding: 20px 20px 70px 20px;
    display: flex;
    flex-flow: column;
    border: 2px solid #e8e8e8;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    &__favorite{
        position: absolute;
        top: 8px;
        left: 8px;
        cursor: pointer;
    }

    &__img{
        width: 100%;
        height: 255px;
        object-fit: contain;
    }

    &__title{
        min-height: 75px;
        margin-top: 15px;
        margin-bottom: 15px;
        font-size: 20px;
        text-align: center;
    }

    &__price{
        position: absolute;
        bottom: 22px;
        font-size: 20px;
    }

    &__btn{
        border-radius: 20px;
    }
}

.star:hover {
    fill: #e7d01e;
}

.star.active {
    fill: #e7d01e;
}