.noscroll{
    overflow: hidden;
}

.box{
    margin: 0 auto;
    max-width: 1200px;
}

.header{
    display: flex;
    justify-content: flex-end;
}

.favorites{
    margin-left: 5px;
    margin-right: 40px;
}

.cart{
    margin-left: 5px;
    margin-right: 20px;
}